SECRET_KEY=change-me-to-a-real-secret-key
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.dev
POSTGRES_DB=esperanza
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
